In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [34]:
df=pd.read_csv('housing.csv')

In [35]:
df.head(2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY

In [36]:
df.shape

(20640, 10)

In [37]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [38]:
df.dropna(inplace=True)

In [39]:
df.shape

(20433, 10)

In [40]:
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [41]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [42]:
X=df.drop('median_house_value',axis=1)
y=df['median_house_value']

In [43]:
X

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,NEAR BAY
...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,INLAND

In [44]:
y

0        452600.0
1        358500.0
2        352100.0
3        341300.0
4        342200.0
           ...
20635     78100.0
20636     77100.0
20637     92300.0
20638     84700.0
20639     89400.0
Name: median_house_value, Length: 20433, dtype: float64

In [45]:
X['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [46]:
ocean_proximity=pd.get_dummies(X['ocean_proximity'])

In [47]:
ocean_proximity

       <1H OCEAN  INLAND  ISLAND  NEAR BAY  NEAR OCEAN
0              0       0       0         1           0
1              0       0       0         1           0
2              0       0       0         1           0
3              0       0       0         1           0
4              0       0       0         1           0
...          ...     ...     ...       ...         ...
20635          0       1       0         0           0
20636          0       1       0         0           0
20637          0       1       0         0           0
20638          0       1       0         0           0
20639          0       1       0         0           0

[20433 rows x 5 columns]

In [48]:
X=pd.concat([X,ocean_proximity],axis=1)

In [49]:
X.head(2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,NEAR BAY,0,0,0,1,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,NEAR BAY,0,0,0,1,0

In [50]:
X.drop('ocean_proximity',axis=1,inplace=True)

In [51]:
X.head(2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,0,0,0,1,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,0,0,0,1,0

In [52]:
X.shape

(20433, 13)

In [54]:
y.shape

(20433,)

In [55]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=42)

In [56]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train_scaled=sc.fit_transform(X_train)
X_test_scaled=sc.transform(X_test)

In [57]:
X_train_scaled

array([[-0.68684567,  0.92079826, -0.44520313, ..., -0.01182583,
        -0.35702009, -0.38351632],
       [ 0.68114892, -0.77889909,  0.42830842, ..., -0.01182583,
        -0.35702009, -0.38351632],
       [-1.1761284 ,  0.76628032, -0.12756257, ..., -0.01182583,
        -0.35702009, -0.38351632],
       ...,
       [ 0.5812953 , -0.76485201,  1.06358955, ..., -0.01182583,
        -0.35702009, -0.38351632],
       [-1.22605521,  0.90206881, -1.31871469, ..., -0.01182583,
         2.80096282, -0.38351632],
       [-1.42076977,  0.9769866 ,  1.85769097, ..., -0.01182583,
         2.80096282, -0.38351632]])

In [58]:
#import ANN libraries

import tensorflow as tf
from tensorflow.keras import Model
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense,Dropout
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.losses import MeanSquaredError

In [60]:
# install keras tuner
!pip install keras-tuner

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting keras-tuner
  Downloading keras_tuner-1.1.3-py3-none-any.whl (135 kB)
     |████████████████████████████████| 135 kB 14.1 MB/s
Requirement already satisfied: ipython in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (7.9.0)
Requirement already satisfied: tensorboard in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (2.8.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (1.21.6)
Collecting kt-legacy
  Downloading kt_legacy-1.0.4-py3-none-any.whl (9.6 kB)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (21.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (2.23.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (4.4.2)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (4.8.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (0.2.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (2.6.1)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (2.0.10)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (57.4.0)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (5.1.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (0.7.5)
Collecting jedi>=0.10
  Downloading jedi-0.18.1-py2.py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 57.7 MB/s
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from jedi>=0.10->ipython->keras-tuner) (0.8.3)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->keras-tuner) (0.2.5)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->keras-tuner) (1.15.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->keras-tuner) (3.0.9)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython->keras-tuner) (0.7.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (2022.6.15)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (2.10)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.6.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.8.1)
Requirement already satisfied: grpcio>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.47.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.35.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (3.4.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.4.6)
Requirement already satisfied: absl-py>=0.4 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.2.0)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.37.1)
Requirement already satisfied: protobuf>=3.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (3.17.3)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.0.1)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner) (4.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner) (4.2.4)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras-tuner) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard->keras-tuner) (4.12.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard->keras-tuner) (3.8.1)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard->keras-tuner) (4.1.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard->keras-tuner) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras-tuner) (3.2.0)
Installing collected packages: jedi, kt-legacy, keras-tuner
Successfully installed jedi-0.18.1 keras-tuner-1.1.3 kt-legacy-1.0.4

In [61]:
import kerastuner as kt

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: `import kerastuner` is deprecated, please use `import keras_tuner`.
  """Entry point for launching an IPython kernel.

In [69]:
# This model builder function returns a compiled model 
# and uses hyperparameters you define inline to hypertune the model.

mse=MeanSquaredError()

def annmodel_builder(hp):
  model=Sequential()

  #hyperparameter for no. of neuron 
  units1=hp.Int('units1',min_value=25,max_value=512,step=32)
  units2=hp.Int('units2',min_value=25,max_value=512,step=32)
  units3=hp.Int('units3',min_value=25,max_value=512,step=32)
  
  #forming hidden layers
  model.add(Dense(units=units1,activation='relu'))
  model.add(Dense(units=units2,activation='relu'))
  model.add(Dense(units=units3,activation='relu'))

  #forming output layer
  model.add(Dense(1,kernel_initializer='normal',activation='linear'))

  #hyperparameter for learning rate
  hp_learning_rate = hp.Choice('learning_rate', values=[1e-2, 1e-3, 1e-4])

  model.compile(optimizer=Adam(learning_rate=hp_learning_rate),
                loss=mse,
                metrics=[mse]
                )
  

  return model

In [70]:
# Instantiate the tuner and perform hypertuning

tunner=kt.Hyperband(annmodel_builder,
                    objective='mean_squared_error',
                    max_epochs=10,
                    directory='KERAS_TUNER',
                    project_name='kera_tunner_demo'    
                    )

In [71]:
stop_early = tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=5)

In [73]:
tunner.search(X_train_scaled,y_train, epochs=10, validation_split=0.2, callbacks=[stop_early])

Trial 30 Complete [00h 00m 09s]
mean_squared_error: 8539971072.0

Best mean_squared_error So Far: 4121833728.0
Total elapsed time: 00h 03m 34s

In [75]:
# best hyper parameters are 

for params in ['units1','units2','units3','learning_rate']:
  print(params, tunner.get_best_hyperparameters()[0].get(params))

units1 281
units2 345
units3 89
learning_rate 0.01

In [77]:
## model training and evaluation

best_hps=tunner.get_best_hyperparameters(num_trials=1)[0]
best_hps

In [79]:
model = tunner.hypermodel.build(best_hps)

In [81]:
history = model.fit(X_train_scaled, y_train, epochs=50, validation_split=0.2)

Epoch 1/50
358/358 [==============================] - 2s 3ms/step - loss: 9710404608.0000 - mean_squared_error: 9707421696.0000 - val_loss: 4938081792.0000 - val_mean_squared_error: 4915312640.0000
Epoch 2/50
358/358 [==============================] - 1s 3ms/step - loss: 4558502912.0000 - mean_squared_error: 4558025216.0000 - val_loss: 5443936256.0000 - val_mean_squared_error: 5426301952.0000
Epoch 3/50
358/358 [==============================] - 1s 3ms/step - loss: 4489980416.0000 - mean_squared_error: 4488350208.0000 - val_loss: 4655991296.0000 - val_mean_squared_error: 4633582592.0000
Epoch 4/50
358/358 [==============================] - 1s 3ms/step - loss: 4413800448.0000 - mean_squared_error: 4413952000.0000 - val_loss: 4553913344.0000 - val_mean_squared_error: 4534497280.0000
Epoch 5/50
358/358 [==============================] - 1s 3ms/step - loss: 4389914112.0000 - mean_squared_error: 4389043712.0000 - val_loss: 4596125184.0000 - val_mean_squared_error: 4579206144.0000
Epoch 6/50
358/358 [==============================] - 1s 3ms/step - loss: 4356442624.0000 - mean_squared_error: 4359252480.0000 - val_loss: 4384963584.0000 - val_mean_squared_error: 4366902784.0000
Epoch 7/50
358/358 [==============================] - 1s 3ms/step - loss: 4392235520.0000 - mean_squared_error: 4388526592.0000 - val_loss: 4243757056.0000 - val_mean_squared_error: 4225198848.0000
Epoch 8/50
358/358 [==============================] - 1s 3ms/step - loss: 4341372416.0000 - mean_squared_error: 4338147328.0000 - val_loss: 4508858880.0000 - val_mean_squared_error: 4493668864.0000
Epoch 9/50
358/358 [==============================] - 1s 3ms/step - loss: 4289771520.0000 - mean_squared_error: 4288835584.0000 - val_loss: 4119382016.0000 - val_mean_squared_error: 4102336512.0000
Epoch 10/50
358/358 [==============================] - 1s 3ms/step - loss: 4247825664.0000 - mean_squared_error: 4249228288.0000 - val_loss: 4189315072.0000 - val_mean_squared_error: 4172620032.0000
Epoch 11/50
358/358 [==============================] - 1s 3ms/step - loss: 4231112960.0000 - mean_squared_error: 4229320448.0000 - val_loss: 4492782080.0000 - val_mean_squared_error: 4474826240.0000
Epoch 12/50
358/358 [==============================] - 1s 3ms/step - loss: 4188725504.0000 - mean_squared_error: 4189940480.0000 - val_loss: 5138368000.0000 - val_mean_squared_error: 5112919040.0000
Epoch 13/50
358/358 [==============================] - 1s 3ms/step - loss: 4253457152.0000 - mean_squared_error: 4252998656.0000 - val_loss: 5984705536.0000 - val_mean_squared_error: 5956811264.0000
Epoch 14/50
358/358 [==============================] - 1s 4ms/step - loss: 4240836864.0000 - mean_squared_error: 4252064256.0000 - val_loss: 4834628608.0000 - val_mean_squared_error: 4813448704.0000
Epoch 15/50
358/358 [==============================] - 1s 4ms/step - loss: 4055203072.0000 - mean_squared_error: 4054827264.0000 - val_loss: 4618591232.0000 - val_mean_squared_error: 4603803648.0000
Epoch 16/50
358/358 [==============================] - 1s 3ms/step - loss: 3945650176.0000 - mean_squared_error: 3945989888.0000 - val_loss: 4197210112.0000 - val_mean_squared_error: 4178158080.0000
Epoch 17/50
358/358 [==============================] - 1s 3ms/step - loss: 3953307136.0000 - mean_squared_error: 3951862784.0000 - val_loss: 4049492736.0000 - val_mean_squared_error: 4034136832.0000
Epoch 18/50
358/358 [==============================] - 1s 3ms/step - loss: 3828257024.0000 - mean_squared_error: 3825130240.0000 - val_loss: 4069271040.0000 - val_mean_squared_error: 4057276928.0000
Epoch 19/50
358/358 [==============================] - 1s 3ms/step - loss: 3682818816.0000 - mean_squared_error: 3687209472.0000 - val_loss: 3868292096.0000 - val_mean_squared_error: 3858322688.0000
Epoch 20/50
358/358 [==============================] - 1s 3ms/step - loss: 3640224768.0000 - mean_squared_error: 3646104064.0000 - val_loss: 3841017344.0000 - val_mean_squared_error: 3832209664.0000
Epoch 21/50
358/358 [==============================] - 1s 3ms/step - loss: 3583655680.0000 - mean_squared_error: 3583531264.0000 - val_loss: 3700033280.0000 - val_mean_squared_error: 3686583808.0000
Epoch 22/50
358/358 [==============================] - 1s 3ms/step - loss: 3520706304.0000 - mean_squared_error: 3518768896.0000 - val_loss: 3765972224.0000 - val_mean_squared_error: 3757401600.0000
Epoch 23/50
358/358 [==============================] - 1s 3ms/step - loss: 3403686912.0000 - mean_squared_error: 3401461504.0000 - val_loss: 3666984960.0000 - val_mean_squared_error: 3656084992.0000
Epoch 24/50
358/358 [==============================] - 1s 3ms/step - loss: 3353090560.0000 - mean_squared_error: 3352649984.0000 - val_loss: 3603716352.0000 - val_mean_squared_error: 3596346368.0000
Epoch 25/50
358/358 [==============================] - 1s 3ms/step - loss: 3267903488.0000 - mean_squared_error: 3266653184.0000 - val_loss: 3559299840.0000 - val_mean_squared_error: 3549979904.0000
Epoch 26/50
358/358 [==============================] - 1s 3ms/step - loss: 3224206336.0000 - mean_squared_error: 3223233024.0000 - val_loss: 3437149952.0000 - val_mean_squared_error: 3424803328.0000
Epoch 27/50
358/358 [==============================] - 1s 3ms/step - loss: 3224219648.0000 - mean_squared_error: 3223983360.0000 - val_loss: 3497005312.0000 - val_mean_squared_error: 3484348160.0000
Epoch 28/50
358/358 [==============================] - 1s 3ms/step - loss: 3155590144.0000 - mean_squared_error: 3153534208.0000 - val_loss: 3455031808.0000 - val_mean_squared_error: 3443062016.0000
Epoch 29/50
358/358 [==============================] - 1s 3ms/step - loss: 3090465536.0000 - mean_squared_error: 3090031104.0000 - val_loss: 3370761984.0000 - val_mean_squared_error: 3360173056.0000
Epoch 30/50
358/358 [==============================] - 1s 3ms/step - loss: 3057891584.0000 - mean_squared_error: 3061760768.0000 - val_loss: 3564343296.0000 - val_mean_squared_error: 3554427904.0000
Epoch 31/50
358/358 [==============================] - 1s 3ms/step - loss: 3080765440.0000 - mean_squared_error: 3077780992.0000 - val_loss: 3331339776.0000 - val_mean_squared_error: 3324653312.0000
Epoch 32/50
358/358 [==============================] - 1s 3ms/step - loss: 3008150016.0000 - mean_squared_error: 3008029440.0000 - val_loss: 3397559296.0000 - val_mean_squared_error: 3386067456.0000
Epoch 33/50
358/358 [==============================] - 1s 3ms/step - loss: 2932529408.0000 - mean_squared_error: 2933447936.0000 - val_loss: 3152769024.0000 - val_mean_squared_error: 3141788672.0000
Epoch 34/50
358/358 [==============================] - 1s 3ms/step - loss: 2929466880.0000 - mean_squared_error: 2931449856.0000 - val_loss: 3171896576.0000 - val_mean_squared_error: 3163225088.0000
Epoch 35/50
358/358 [==============================] - 1s 3ms/step - loss: 2890614272.0000 - mean_squared_error: 2892165120.0000 - val_loss: 3213440256.0000 - val_mean_squared_error: 3199794176.0000
Epoch 36/50
358/358 [==============================] - 1s 3ms/step - loss: 2857733888.0000 - mean_squared_error: 2863395328.0000 - val_loss: 3264808960.0000 - val_mean_squared_error: 3254357504.0000
Epoch 37/50
358/358 [==============================] - 1s 3ms/step - loss: 2845646592.0000 - mean_squared_error: 2843496960.0000 - val_loss: 3253093632.0000 - val_mean_squared_error: 3238117376.0000
Epoch 38/50
358/358 [==============================] - 1s 3ms/step - loss: 2858736128.0000 - mean_squared_error: 2856818432.0000 - val_loss: 3246446336.0000 - val_mean_squared_error: 3239354880.0000
Epoch 39/50
358/358 [==============================] - 1s 3ms/step - loss: 2774846976.0000 - mean_squared_error: 2774246656.0000 - val_loss: 3526754048.0000 - val_mean_squared_error: 3520099584.0000
Epoch 40/50
358/358 [==============================] - 1s 3ms/step - loss: 2825908736.0000 - mean_squared_error: 2826863360.0000 - val_loss: 3343720960.0000 - val_mean_squared_error: 3331334656.0000
Epoch 41/50
358/358 [==============================] - 1s 3ms/step - loss: 2798596608.0000 - mean_squared_error: 2798229504.0000 - val_loss: 3186509312.0000 - val_mean_squared_error: 3178794240.0000
Epoch 42/50
358/358 [==============================] - 1s 3ms/step - loss: 2702678784.0000 - mean_squared_error: 2701140480.0000 - val_loss: 3142219008.0000 - val_mean_squared_error: 3130593792.0000
Epoch 43/50
358/358 [==============================] - 1s 3ms/step - loss: 2730733568.0000 - mean_squared_error: 2729040128.0000 - val_loss: 3363277312.0000 - val_mean_squared_error: 3358224384.0000
Epoch 44/50
358/358 [==============================] - 1s 3ms/step - loss: 2690620160.0000 - mean_squared_error: 2689943040.0000 - val_loss: 3350095616.0000 - val_mean_squared_error: 3340274176.0000
Epoch 45/50
358/358 [==============================] - 1s 3ms/step - loss: 2686857984.0000 - mean_squared_error: 2691469056.0000 - val_loss: 3199136512.0000 - val_mean_squared_error: 3190215168.0000
Epoch 46/50
358/358 [==============================] - 1s 3ms/step - loss: 2697200640.0000 - mean_squared_error: 2697119488.0000 - val_loss: 3056315392.0000 - val_mean_squared_error: 3045428736.0000
Epoch 47/50
358/358 [==============================] - 1s 3ms/step - loss: 2680961536.0000 - mean_squared_error: 2679901184.0000 - val_loss: 3172788992.0000 - val_mean_squared_error: 3166176000.0000
Epoch 48/50
358/358 [==============================] - 1s 3ms/step - loss: 2661478912.0000 - mean_squared_error: 2668193536.0000 - val_loss: 3148108800.0000 - val_mean_squared_error: 3140053760.0000
Epoch 49/50
358/358 [==============================] - 1s 3ms/step - loss: 2574703360.0000 - mean_squared_error: 2572698880.0000 - val_loss: 3061631488.0000 - val_mean_squared_error: 3049942016.0000
Epoch 50/50
358/358 [==============================] - 1s 3ms/step - loss: 2636576512.0000 - mean_squared_error: 2635234304.0000 - val_loss: 3464306688.0000 - val_mean_squared_error: 3455533824.0000

In [82]:
eval_result = model.evaluate(X_test_scaled, y_test)
print(eval_result)

192/192 [==============================] - 0s 1ms/step - loss: 3311573504.0000 - mean_squared_error: 3320414976.0000
[3311573504.0, 3320414976.0]

In [83]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 281)               3934

 dense_5 (Dense)             (None, 345)               97290

 dense_6 (Dense)             (None, 89)                30794

 dense_7 (Dense)             (None, 1)                 90

=================================================================
Total params: 132,108
Trainable params: 132,108
Non-trainable params: 0
_________________________________________________________________